@import 'normalize.scss';

// Mixins
@mixin main-font {
  font-family: 'Montserrat', sans-serif;
}

// Variables
// $color-white: #fff;
// $color-black: #000;
// $body-color: #e5e5e5;
// $second-color: #e4e4e4;
// $third-color: #f8f8f8;
// $fourth-color: #f4f4f4;
// $fifth-color: #428a60;

// $screen-sm: 576px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;

// $screen-xs-max: 575px;
// $screen-sm-max: 767px;
// $screen-md-max: 991px;
// $screen-lg-max: 1199px;

// Common
* {
  box-sizing: border-box;
}

body {
  @include main-font();
}

.section-outer {
  padding: 80px 75px;
}

.section-inner {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  margin: 0 auto;
}

.btn {
  @include main-font();

  display: block;
  width: 100%;
  height: 42px;
  padding: 12px 20px;
  margin-top: 38px;
  margin-bottom: 60px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background: #428a60;
  border: none;
  border-radius: 5px;
  outline: none;

  .btn-arrow {
    margin-left: 10px;
  }

  &:hover {
    background: #469466;
  }
}

.footer {
  display: none;
}

// form
.section-form {
  &-content {
    display: flex;
    align-items: center;
    height: 500px;
  }

  .product {
    position: relative;
    width: 50%;
    height: 100%;
    background: url(/img/product.png) no-repeat 43px 212px,
      url(/img/backgroundproduct.png) left no-repeat;

    .logo-top {
      position: relative;
      top: 10%;
      left: 7%;
      font-size: 18px;
      font-weight: 800;
      line-height: 130%;
      color: #fff;
    }

    .logo-bottom {
      position: relative;
      top: 85%;
      left: 7%;
      font-size: 18px;
      font-weight: 800;
      line-height: 130%;
      color: #fff;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 136px;
      font-size: 30px;
      font-weight: 800;
      line-height: 130%;
      color: #000;
      text-align: center;
      background-color: #f4f4f4;
      border-top-right-radius: 30px;
    }

    &__form {
      display: flex;
      justify-content: center;
      margin-top: 52px;

      form {
        width: 320px;
      }

      &-input-container {
        margin-top: 20px;

        label {
          display: block;
          margin-bottom: 10px;
          font-size: 12px;
          font-weight: 800;
          line-height: 130%;

          span {
            color: #428a60;
          }
        }

        .row {
          display: flex;

          & > *:not(:first-child) {
            margin-left: 20px;
          }
        }

        &.phone {
          .input-phone {
            width: 184px;
          }

          .input-country {
            width: 116px;
          }
        }

        input,
        .input-country {
          @include main-font();

          display: inline-flex;
          width: 100%;
          height: 50px;
          color: #000;
          background-color: #f8f8f8;

          font: {
            size: 14px;
            weight: 600;
          }

          border: solid 2px #e4e4e4 {
            radius: 5px;
          }
          outline: none;
          transition: 0.2s;

          &::placeholder {
            color: #cdcdcd;
          }

          &:focus {
            background: rgba(255, 255, 255, 0.5);
          }
        }

        input {
          padding: 16px 20px;
        }

        .input-country {
          position: relative;
          cursor: pointer;

          &::after {
            position: absolute;
            top: calc(50% - 1px);
            right: 12px;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 12px;
            height: 8px;
            content: '';
            background: url(/img/dropdown_arrow.svg) no-repeat;
            transition: transform 0.2s;
            transform-origin: center;
          }

          .option {
            display: flex;
            align-items: center;
            padding: 16px 20px;
            width: 100%;

            img {
              width: 26px;
              margin-left: 12px;
            }
          }

          .options {
            position: absolute;
            top: calc(100% + 2px);
            left: -2px;
            flex-direction: column;
            width: calc(100% + 4px);
            max-height: 0;
            overflow: hidden;
            background-color: #fff;
            border: solid 2px transparent {
              radius: 0 0 5px 5px;
            }
            border-top-width: 0;
            transition: max-height 0.2s, border-color 0.2s;
          }

          &.open {
            border-bottom-right-radius: unset;
            border-bottom-left-radius: unset;

            &::after {
              transform: rotateZ(180deg) translateY(3px);
            }

            .options {
              max-height: 500px;
              border-color: #e4e4e4;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-outer {
    align-items: center;
    padding: 0;
  }

  .section-inner {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    padding: 20px;
    width: 320px;
  }

  .section-form {
    display: flex;
    flex-direction: column;

    &-content {
      flex-direction: column;
      height: unset;
    }

    .product {
      position: relative;
      width: 100%;
      height: 280px;
      background: no-repeat url(/img/product.png) center / 223px;

      &::after {
        position: absolute;
        top: calc(50% - 101px);
        left: calc(50% - 101px);
        z-index: -1;
        width: 202px;
        height: 202px;
        content: '';
        background-color: #428a60;
        border-radius: 50%;
      }

      .logo-top {
        position: absolute;
        top: 0;
        left: 0;
        color: #000;
        width: auto;
      }

      .logo-bottom {
        position: absolute;
        top: 0;
        right: 0;
        left: unset;
        color: #000;
        width: auto;
      }
    }

    &-wrapper {
      width: 100%;

      &__form {
        margin-top: 37px;

        form {
          width: 100%;
        }

        &-input-container.phone {
          .input-phone {
            width: 174px;
          }

          .input-country {
            margin-left: 10px;
            width: 96px;

            .option {
              padding: 16px 10px;
            }

            &:after {
              right: 6px;
            }
          }
        }
      }

      &__title {
        background-color: unset;
      }

      &__form-button .btn {
        margin-bottom: 28px;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #f8f8f8;

    .trusted {
      margin-right: 20px;
    }

    .secure {
      margin-left: 20px;
    }
  }
}
